[Unit]
Description=WFB storm32 controller
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python -m telemetry.storm32_controller
TimeoutStopSec=5s
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target