[Unit]
Description=WFB profile %i
PartOf=wifibroadcast.service
ReloadPropagatedFrom=wifibroadcast.service

[Service]
Type=simple
# common environment
EnvironmentFile=/etc/default/wifibroadcast
# per-profile environment
EnvironmentFile=-/etc/default/wifibroadcast.%i
ExecStart=/usr/bin/wfb-server %i ${WFB_NICS}
TimeoutStopSec=5s
Restart=on-failure
RestartSec=5s
# Set logging to file in wifibroadcast.cfg
StandardError=inherit

[Install]
WantedBy=wifibroadcast.service
